<!DOCTYPE html>
<html>

<head>
  <title>Cpp.React</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/design.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/syntax.css">
  <script src="{{ site.baseurl }}/scripts/jquery-1.11.1.min.js"></script>
  <script src="{{ site.baseurl }}/scripts/jquery.fastLiveFilter.js"></script>
</head>

<body>
<div id="left_panel_container">
  <div id="left_search_holder">
    <input class="search_input" placeholder="Type to filter">
  </div>
  <div id="left_panel_body">
    <ul id="api_list">
      <li class="api_group"><a class="group_link" href="">Algorithm.h</a></li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_func.png" /> Iterate</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_func.png" /> Hold</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_func.png" /> Snapshot</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_func.png" /> Monitor</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_func.png" /> Pulse</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_func.png" /> OnChanged</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_func.png" /> OnChangedTo</a></li>

      <li class="api_group"><a class="group_link" href="">Domain.h</a></li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_class.png" /> DomainBase</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_class.png" /> Continuation</a></li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_func.png" /> MakeContinuation</a></li>
      <!-- <li class="api_subgroup">Macros</li> -->
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_macro.png" /> REACTIVE_DOMAIN</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_macro.png" /> USING_REACTIVE_DOMAIN</a></li>

      <li class="api_group"><a class="group_link" href="">Event.h</a></li>
      <!-- <li class="api_subgroup">Constants</li> -->
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_enum.png" /> Token</a></li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_class.png" /> Events</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_class.png" /> EventSource</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_class.png" /> TempEvents</a></li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><a class="ref_link"><img class="entity_icon" src="media/icon_func.png" /> MakeEventSource</a></li>
      <li><a class="ref_link"><img class="entity_icon" src="media/icon_func.png" /> Merge</a></li>
      <li><a class="ref_link"><img class="entity_icon" src="media/icon_func.png" /> Filter</a></li>
      <li><a class="ref_link"><img class="entity_icon" src="media/icon_func.png" /> Transform</a></li>
      <li><a class="ref_link"><img class="entity_icon" src="media/icon_func.png" /> Flatten</a></li>
      <li><a class="ref_link"><img class="entity_icon" src="media/icon_func.png" /> Tokenize</a></li>

      <li class="api_group"><a class="group_link" href="">Observer.h</a></li>
      <!-- <li class="api_subgroup">Constants</li> -->
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_enum.png" /> ObserverAction</a></li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_class.png" /> Observer</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_class.png" /> ScopedObserver</a></li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><a class="ref_link"><img class="entity_icon" src="media/icon_func.png" /> Observe</a></li>

      <li class="api_group"><a class="group_link" href="">Reactor.h</a></li>

      <li class="api_group"><a class="group_link" href="">Signal.h</a></li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_class.png" /> Signal</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_class.png" /> VarSignal</a></li>
      <li><a class="ref_link" href=""><img class="entity_icon" src="media/icon_class.png" /> TempSignal</a></li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><a class="ref_link"><img class="entity_icon" src="media/icon_func.png" /> MakeVar</a></li>
      <li><a class="ref_link"><img class="entity_icon" src="media/icon_func.png" /> MakeSignal</a></li>
      <li><a class="ref_link"><img class="entity_icon" src="media/icon_func.png" /> Flatten</a></li>

      <li class="api_group"><a class="group_link" href="">TypeTraits.h</a></li>

    </ul>
  </div>
</div>

<script>
    $(function() {
        $("#search_input").fastLiveFilter(
          "#api_list",
          {
            groups: ["api_group", "api_subgroup"]
          });
    });
</script>

<div id="right_panel_container">
  <div class="panel_body">
    <ul>
      <li> -- asdf</li>
      <li> -- asdf</li>
      <li> -- asdf</li>
      <li> -- asdf</li>
      <li> -- asdf</li>
    </ul>
  </div>
</div>



<div id="content_panel_container">
  <div class="panel_body">
    {{ content }}
  </div>
</div>

</body>

</html>