<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }} | C++React</title>
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/media/favicon.png">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/design.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/syntax.css">
  <script src="{{ site.baseurl }}/scripts/jquery-1.11.1.min.js"></script>
  <script src="{{ site.baseurl }}/scripts/jquery.fastLiveFilter.js"></script>
</head>

<body>
<div id="nav_panel_container">
  <div id="nav_panel_header">
    <input id="api_search" class="search_input" placeholder="Type to filter">
  </div>
  <div id="nav_panel_body">
    <ul id="api_list">
      <li class="api_group"><a class="group_link" href="{{ site.baseurl }}/reference/Algorithm.h/">Algorithm.h</a></li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Algorithm.h/Hold.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Hold</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Algorithm.h/Monitor.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Monitor</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Algorithm.h/Iterate.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Iterate</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Algorithm.h/Snapshot.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Snapshot</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Algorithm.h/Pulse.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Pulse</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Algorithm.h/Changed.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Changed</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Algorithm.h/ChangedTo.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> ChangedTo</a></li>

      <li class="api_group"><a class="group_link" href="{{ site.baseurl }}/reference/Domain.h/">Domain.h</a></li>
      <!-- <li class="api_subgroup">Constants</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Domain.h/WeightHint.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_enum.png" /> WeightHint</a></li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Domain.h/Continuation.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> Continuation</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Domain.h/TransactionStatus.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> TransactionStatus</a></li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Domain.h/DoTransaction.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> DoTransaction</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Domain.h/AsyncTransaction.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> AsyncTransaction</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Domain.h/MakeContinuation.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> MakeContinuation</a></li>
      <!-- <li class="api_subgroup">Macros</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Domain.h/REACTIVE_DOMAIN.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_macro.png" /> REACTIVE_DOMAIN</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Domain.h/USING_REACTIVE_DOMAIN.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_macro.png" /> USING_REACTIVE_DOMAIN</a></li>

      <li class="api_group"><a class="group_link" href="{{ site.baseurl }}/reference/Event.h/">Event.h</a></li>
      <!-- <li class="api_subgroup">Constants</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/Token.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_enum.png" /> Token</a></li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/Events.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> Events</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/EventSource.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> EventSource</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/TempEvents.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> TempEvents</a></li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/MakeEventSource.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> MakeEventSource</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/Merge.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Merge</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/Filter.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Filter</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/Transform.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Transform</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/Flatten.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Flatten</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/Tokenize.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Tokenize</a></li>

      <li class="api_group"><a class="group_link" href="{{ site.baseurl }}/reference/Observer.h/">Observer.h</a></li>
      <!-- <li class="api_subgroup">Constants</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Observer.h/ObserverAction.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_enum.png" /> ObserverAction</a></li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Observer.h/Observer.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> Observer</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Observer.h/ScopedObserver.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> ScopedObserver</a></li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Observer.h/Observe.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Observe</a></li>

      <li class="api_group"><a class="group_link" href="{{ site.baseurl }}/reference/Reactor.h/">Reactor.h</a></li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/Reactor.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> Reactor</a></li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Event.h/MakeReactor.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> MakeReactor</a></li>

      <li class="api_group"><a class="group_link" href="{{ site.baseurl }}/reference/Signal.h/">Signal.h</a></li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Signal.h/Signal.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> Signal</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Signal.h/VarSignal.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> VarSignal</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Signal.h/TempSignal.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> TempSignal</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Signal.h/SignalPack.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_class.png" /> SignalPack</a></li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Signal.h/MakeVar.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> MakeVar</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Signal.h/MakeSignal.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> MakeSignal</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Signal.h/Flatten.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> Flatten</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Signal.h/With.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_func.png" /> With</a></li>
      <!-- <li class="api_subgroup">Macros</li> -->
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Domain.h/REACTIVE_PTR.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_macro.png" /> REACTIVE_PTR</a></li>
      <li><a class="ref_link" href="{{ site.baseurl }}/reference/Domain.h/REACTIVE_REF.html"><img class="entity_icon" src="{{ site.baseurl }}/media/icon_macro.png" /> REACTIVE_REF</a></li>

      <li class="api_group"><a class="group_link" href="{{ site.baseurl }}/reference/TypeTraits.h/">TypeTraits.h</a></li>

    </ul>
  </div>
</div>

<script>
    $(function() {
        $("#api_search").fastLiveFilter(
          "#api_list",
          {
            groups: ["api_group", "api_subgroup"]
          });
    });
</script>

<div id="content_panel_container">
  <div id="content_panel_header">
    <span class="header_text">

{% for group in page.groups %}
      <a href="{{ site.baseurl }}/{{ group.url }}">{{ group.name }}</a> &#8640;
{% endfor %}

      {{ page.title }}
    </span>
  </div>
  <div class="content_panel_body">

{% if page.no_title != true %}
  <h1>{{ page.title }} <span class="type_tag">{{ page.type_tag }}</span></h1>
{% endif %}
    
    {{ content }}
  </div>
</div>

</body>

</html>