<!DOCTYPE html>
<html>

<head>
  <title>Cpp.React</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/layout.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/design.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/syntax.css">
  <script src="{{ site.baseurl }}/scripts/jquery-1.11.1.min.js"></script>
  <script src="{{ site.baseurl }}/scripts/jquery.fastLiveFilter.js"></script>
</head>

<body>
<div id="left_panel">
  <span class="panel_title">Overview</span>
  <div class="panel_body">
    <input id="search_input" placeholder="Type to filter">

    <ul id="api_list">
      <li class="api_group">Algorithm.h</li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Iterate</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Hold</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Snapshot</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Monitor</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Pulse</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> OnChanged</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> OnChangedTo</li>

      <li class="api_group">Domain.h</li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_class.png" /> DomainBase</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_class.png" /> Continuation</li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> MakeContinuation</li>
      <!-- <li class="api_subgroup">Macros</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_macro.png" /> REACTIVE_DOMAIN</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_macro.png" /> USING_REACTIVE_DOMAIN</li>

      <li class="api_group">Event.h</li>
      <!-- <li class="api_subgroup">Constants</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_enum.png" /> Token</li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_class.png" /> Events</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_class.png" /> EventSource</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_class.png" /> TempEvents</li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> MakeEventSource</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Merge</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Filter</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Transform</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Flatten</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Tokenize</li>

      <li class="api_group">Observer.h</li>
      <!-- <li class="api_subgroup">Constants</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_enum.png" /> ObserverAction</li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_class.png" /> Observer</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_class.png" /> ScopedObserver</li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Observe</li>

      <li class="api_group">Reactor.h</li>

      <li class="api_group">Signal.h</li>
      <!-- <li class="api_subgroup">Classes</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_class.png" /> Signal</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_class.png" /> VarSignal</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_class.png" /> TempSignal</li>
      <!-- <li class="api_subgroup">Functions</li> -->
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> MakeVar</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> MakeSignal</li>
      <li><img style="vertical-align:middle" src="{{ site.baseurl }}/media/icon_func.png" /> Flatten</li>

      <li class="api_group">TypeTraits.h</li>

    </ul>
  </div>
</div>

<script>
    $(function() {
        $("#search_input").fastLiveFilter(
          "#api_list",
          {
            groups: ["api_group", "api_subgroup"]
          });
    });
</script>

<div id="right_panel">
  <span class="panel_title">Outline</span>
  <div class="panel_body">
    <ul>
      <li> -- asdf</li>
      <li> -- asdf</li>
      <li> -- asdf</li>
      <li> -- asdf</li>
      <li> -- asdf</li>
    </ul>
  </div>
</div>



<div id="content_panel">
  <span class="panel_title">Signal.h &#8640; MakeSignal</span>
  <div class="panel_body">
    {{ content }}
  </div>
</div>


</body>

</html>