body {
  color: black; background-color: white;
  font-family: sans-serif;
  margin: 0.5em; padding: 0.5em;
}

ul {
  list-style: none;
  margin: 0; padding: 0.5em;
}

li {
  font-family: consolas;
  font-size: 16px;
  padding-left: 1em;
}

li.api_group {
  font-family: helvetica;
  font-weight: bold;
  font-size: 18px;
  padding-left: 0;
}

div.panel_body {
  margin: 0; padding: 0.5em;
  border-top: 2px solid;
}

.panel_title {
  font-family: helvetica;
  margin: 0em;
  padding: 0em;
  font-size: 120%;
  font-weight: bold;
}