body {
  color: black; background-color: white;
  font-family: sans-serif;
  margin: 0.5em; padding: 0.5em;
}

ul {
  list-style: none;
  margin: 0; padding: 0.5em;
}

li {
  font-family: consolas;
  font-size: 16px;
  padding-left: 1em;
}

li.api_group {
  font-family: helvetica;
  font-weight: bold;
  font-size: 18px;
  padding-left: 0;
}

div.panel_body {
  margin: 0; padding: 0.5em;
  border-top: 4px solid;
  border-bottom: 4px solid;
  overflow-y: auto;
  overflow-x: hidden;
  height:90vh
}

.panel_title {
  font-family: helvetica;
  margin: 0em;
  padding: 0em;
  font-size: 120%;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-track-piece  {
  background-color: rgba(0, 0, 0, 0.05);
}
