div#top_panel {
  float: top;
  margin: 0; padding: 0.5em;
  border-top: 2px solid;
}

div#left_panel {
  float: left; width: 20em;
  margin: 0; padding: 0;
}

div#right_panel {
  float: right; width: 20em;
  margin: 0; padding: 0;
}

div#content_panel {
  margin: 0 22em 0 22em;
  padding: 0;
  min-width: 1em;
}